<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Hello WebSocket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="app">
    <div v-if="!connected" id="user-content" class="container1">
        <div class="row1">
            <div class="col-md-121">
                <form class="form-inline">
                    <div class="form-group">
                        <label>WebSocket connection:</label>
                        <input v-model="username" type="text" id="name" class="form-control" placeholder="Your name here...">
                        <button v-on:click="connect" :disabled="connected" class="btn btn-default" type="button">Connect</button>
                        <button v-on:click="disconnect" :disabled="!connected" class="btn btn-default" type="button">Disconnect
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div v-if="showMainMenu" id="main-content" class="container1">

        <div class="row1">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="name">Game name</label>
                        <input v-model="newGameName" type="text" class="form-control" placeholder="Game name here...">
                    </div>
                    <button v-on:click="createGame()" class="btn btn-default" type="button">Send</button>
                </form>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Games</th>
                        <th>Players</th>
                        <th>Author</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="game in games">
                            <th>{{ game.name }}</th>
                            <th>{{ game.players.length }} / 5</th>
                            <th>{{ game.authorName }}</th>
                            <th><button v-if="game.status=='CREATED'" v-on:click="join(game.id)" type="button"> Join </button></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div v-if="showLobbyScreen" class="container1">

        The game {{ currentGame.name }}
        <button v-on:click="leave">leave</button>
        <button v-on:click="startGame()" type="button"> Start </button>
        <button v-on:click="addBot('MrBlue')" type="button"> Add bot </button>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Players</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="player in currentGame.players">
                <th>
                    <span>{{ player.name }}</span>
                    <span v-if="player.isBot"> <button v-on:click="removeBot(player.name)" type="button"> Remove </button> </span>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <div v-if="showGameScreen" class="game-screen">


        <div class="game-header">
            Игра: {{ currentGame.name }} <button v-on:click="leaveGame()" type="button">Выйти из игры</button>
        </div>
        <div class="action-panel">
            <div >Сейчас ходит: {{ activePlayer }}</div>
            <div v-if="gamePhase == 'WINNER'">
                Победил {{ winner }}
                <button v-on:click="reset()" type="button"> Вернуться в меню</button>
            </div>
            <div v-if="activePlayer == username && gamePhase == 'CHOICE'">
                <div>
                    У вас выпало {{ lastDice }}
                </div>
                <div v-if="requiredConfirmation == 'Порт'">
                    Вы можете добавить к кубику
                    <button v-on:click="confirm('Порт', {addition: 2})" type="button"> Добавить 2 </button>
                    <button v-on:click="confirm('Порт', {addition: 1})" type="button"> Добавить 1 </button>
                    <button v-on:click="confirm('Порт', {addition: 0})" type="button"> Не добавлять </button>
                </div>
                <div v-if="requiredConfirmation == 'Радиовышка'">
                    Вы можете перебросить кубики
                    <button v-on:click="confirm('Радиовышка', {diceCount: 2})" type="button"> Бросить 2 </button>
                    <button v-on:click="confirm('Радиовышка', {diceCount: 1})" type="button"> Бросить 1 </button>
                    <button v-on:click="confirm('Радиовышка', {diceCount: 0})" type="button"> Оставить </button>
                </div>
                <div v-if="requiredConfirmation == 'Телецентр'">
                    Телецентр! Выберите у кого забрать 5 монет
                    <button v-for="op in opponents" v-on:click="confirm('Телецентр', {opponent: op.name})" type="button"> {{ op.name }} </button>
                </div>


            </div>
            <div v-if="activePlayer == username && gamePhase == 'DICE'">
                <div>
                    Бросайте кубик
                </div>
                <button v-on:click="diceRoll(1)" type="button"> Бросить один кубик </button>
                <button v-if="twoDices" v-on:click="diceRoll(2)" type="button"> Бросить два кубика </button>

            </div>
            <div v-if="activePlayer != username && gamePhase == 'DICE'">
                <div>
                    {{ activePlayer }} бросает кубик
                </div>
            </div>
            <div v-if="activePlayer == username && gamePhase == 'BUILD'">
                <div>
                    У вас выпало {{ lastDice }}. Доступно денег {{ playerState.money }}. Купите карту
                </div>
                <div class="shop-group">
                    <template v-for="group in shopGroups">
                        <div v-for="card in cardsByColor(group.color)"
                             :class="card.canBuy ? 'active-card' : ''"
                             :style="[card.canBuy ? group.activeStyle : group.disabledStyle]"
                             v-on:click="buyCard(card.name)"
                        >
                            <div class="card-numbers">
                                {{ card.numbers }}
                            </div>
                            <div class="card-price">
                                <div class="price-circle">
                                    {{ card.price }}
                                </div>

                            </div>
                            <div class="card-name">
                                {{ card.name }} <span v-if="group.color != 'YELLOW' && group.color != 'PURPLE'"> ({{ card.cardsLeft }}) </span>
                            </div>
                        </div>
                    </template>
                </div>
                <button v-on:click="skipBuild()" type="button"> Пропуск </button>
            </div>
            <div v-if="activePlayer != username && gamePhase == 'BUILD'">
                <div>
                    Выпало {{ lastDice }}
                </div>
                <div>
                    {{ activePlayer }} выбирает карту
                </div>

            </div>
        </div>
        <div class="opponents-panel">
<!--            <div v-on:click="showPlayerInfo(username)" >-->
<!--                <b>{{ playerState.name }} (Вы)</b> money: {{ playerState.money }}-->
<!--                <div style="display:flex;justify-content:space-evenly;">-->
<!--                    <div v-for="card in yellowCards(playerState.name)" :style="[card.style, {padding: '2px'}]">-->
<!--                        {{ card.price }}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div v-on:click="showPlayerInfo(opponent.name)" v-for="opponent in opponents" :key="name" >
                <b>{{ opponent.name }}</b> money: {{ opponent.money }}

<!--                <div v-for="(count, card) in opponent.cards" :key="card" style="display:inline;padding:2px;">-->
<!--                    <span v-if="isLastBoughtCard(opponent.name, card)"><b>{{ card }}</b></span>-->
<!--                    <span v-else>{{ card }}</span>-->
<!--                    <span v-if="count > 1">(x{{ count }})</span>-->
<!--                </div>-->

                <div style="display:flex;justify-content:space-evenly;">
                    <div v-for="card in yellowCards(opponent.name)" :style="[card.style, {padding: '2px'}]">
                        {{ card.price }}
                    </div>
                </div>

            </div>
        </div>

        <div>
            money: {{ playerState.money }}
        </div>

        <div class="bought-cards-wrapper">
            <div class="bought-cards">
                <div v-for="card in boughtCards()" :key="card.name" class="bought-card" :style="[card.style]">
                    {{ card.name }} <span v-if="card.count > 1">(x{{ card.count }})</span> {{ calculateLastChange(card) }}
                </div>
            </div>
            <div style="display:flex;justify-content:space-around;">
                <div v-for="card in yellowCards(username)" class="bought-card" :style="[card.style]" >
                    {{ card.name }}
                </div>
            </div>


        </div>
    </div>
    <div class="modal-window" :style="[playerInfoModal ? { display: 'block' } : {display: 'none'}]">
        <div class="modal-content">
            <span v-on:click="playerInfoModal = false" class="close-button">&times;</span>
            <p> {{ playerInfoModal }}</p>
            <p>Some text in the Modal.. sa a sd sa das das dasd asd as das das dasd sad asd as da sda sd sadsdsa dasd asd asd asd asd asd asdas</p>
        </div>
    </div>
</div>

</body>

</html>