<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="app">
    <div id="user-content" class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label>WebSocket connection:</label>
                        <input v-model="username" type="text" id="name" class="form-control" placeholder="Your name here...">
                        <button v-on:click="connect" :disabled="connected" class="btn btn-default" type="button">Connect</button>
                        <button v-on:click="disconnect" :disabled="!connected" class="btn btn-default" type="button">Disconnect
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div v-if="showMainMenu" id="main-content" class="container">

        <div class="row">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="name">Game name</label>
                        <input v-model="newGameName" type="text" class="form-control" placeholder="Game name here...">
                    </div>
                    <button v-on:click="createGame()" class="btn btn-default" type="button">Send</button>
                </form>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Games</th>
                        <th>Players</th>
                        <th>Author</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="game in games">
                            <th>{{ game.name }}</th>
                            <th>{{ game.players.length }} / 5</th>
                            <th>{{ game.authorName }}</th>
                            <th><button v-on:click="join(game.id)" type="button"> Join </button></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div v-if="showLobbyScreen" class="container">

        The game {{ currentGame.name }}
        <button v-on:click="leave">leave</button>
        <button v-on:click="startGame()" type="button"> Start </button>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Players</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="player in currentGame.players">
                <th>{{ player }}</th>
            </tr>
            </tbody>
        </table>
    </div>

    <div v-if="showGameScreen" class="container">

        The game {{ currentGame.name }}

        <div v-for="(value, name) in opponents" :key="name">
            opponent {{ name }}
        </div>

        money: {{ playerState.money }}

    </div>
</div>

</body>

</html>