<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Hello WebSocket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="init.js" defer></script>
    <script src="components/card-shop.js" defer></script>
    <script src="app.js" defer></script>

</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="app">
    <div v-if="!connected" id="user-content" class="container1">
        <div class="row1">
            <div class="col-md-121">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Введите своё имя:</label>
                        <input v-model="username" type="text" id="name" class="form-control" placeholder="Тут ваше имя...">
                        <button v-on:click="connect" :disabled="connected" class="btn btn-default" type="button">Подключиться</button>
                        <button v-on:click="disconnect" :disabled="!connected" class="btn btn-default" type="button">Отключиться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div v-if="showMainMenu" id="main-content" class="container1">
        <div class="row1">
            <div class="col-md-12">
                <div style="font-size:large;">
                    <span> Привет, {{ username }}, создай новую игру или присоединись к существующей </span>
                    <button v-on:click="disconnect()" class="btn btn-default" type="button">Выйти</button>
                </div>
                <div style="padding:10px;display:flex;flex-direction:row;">
                    <input v-model="newGameName" style="flex-grow:1;" type="text" class="form-control" placeholder="Введите название новой игры...">
                    <button v-on:click="createGame()" class="btn btn-default" type="button">Создать</button>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Игра</th>
                        <th>Игроки</th>
                        <th>Автор</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="game in games">
                            <th>{{ game.name }}</th>
                            <th>{{ game.players.length }} / 5</th>
                            <th>{{ game.authorName }}</th>
                            <th><button v-if="game.status=='CREATED'" class="btn btn-default" v-on:click="join(game.id)" type="button"> Присоединиться </button></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div v-if="showLobbyScreen" style="padding:10px;">

        <div style="padding:10px;font-size:large;">
            Игра {{ currentGame.name }}
        </div>
        <div style="display:flex;flex-direction:row;gap:10px;flex-wrap:wrap;">
            <button v-on:click="leave" class="btn btn-default">Выйти</button>
            <button v-on:click="startGame()" type="button" class="btn btn-default"> Начать </button>
            <button v-for="bot in bots" v-on:click="addBot(bot.name)" type="button" class="btn btn-default"> Добавить бота {{ bot.name }}</button>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Игроки:</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="player in currentGame.players">
                <th>
                    <span>{{ player.name }}</span>
                    <span v-if="player.isBot"> <button v-on:click="removeBot(player.name)" type="button" class="btn btn-default"> Удалить </button> </span>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <div v-if="showGameScreen" class="game-screen">


        <div class="game-header" style="display:flex;flex-direction:row;gap:10px;align-items:center;">
            <span style="font-size:large;">Игра: {{ currentGame.name }}</span>
            <button v-on:click="leaveGame()" type="button" class="btn btn-default">Выйти из игры</button>
            <button v-on:click="historyModal = true" type="button" class="btn btn-default">История</button>
        </div>
        <div class="action-panel">
            <div >Сейчас ходит: {{ activePlayer }}</div>
            <div v-if="gamePhase == 'WINNER'">
                Победил {{ winner }}
                <button v-on:click="reset()" type="button" class="btn btn-default"> Вернуться в меню</button>
            </div>
            <div v-if="activePlayer == username && gamePhase == 'CHOICE'">
                <div>
                    У вас выпало {{ lastDice }}
                </div>
                <div v-if="requiredConfirmation == 'Порт'">
                    Вы можете добавить к кубику
                    <button v-on:click="confirm('Порт', {addition: 2})" type="button" class="btn btn-default"> Добавить 2 </button>
                    <button v-on:click="confirm('Порт', {addition: 1})" type="button" class="btn btn-default"> Добавить 1 </button>
                    <button v-on:click="confirm('Порт', {addition: 0})" type="button" class="btn btn-default"> Не добавлять </button>
                </div>
                <div v-if="requiredConfirmation == 'Радиовышка'">
                    Вы можете перебросить кубики
                    <button v-if="twoDices" v-on:click="confirm('Радиовышка', {diceCount: 2})" type="button" class="btn btn-default"> Бросить 2 </button>
                    <button v-on:click="confirm('Радиовышка', {diceCount: 1})" type="button" class="btn btn-default"> Бросить 1 </button>
                    <button v-on:click="confirm('Радиовышка', {diceCount: 0})" type="button" class="btn btn-default"> Оставить </button>
                </div>
                <div v-if="requiredConfirmation == 'Телецентр'">
                    Телецентр! Выберите у кого забрать 5 монет
                    <button v-for="op in opponents" v-on:click="confirm('Телецентр', {opponent: op.name})" type="button" class="btn btn-default"> {{ op.name }} </button>
                </div>


            </div>
            <div v-if="activePlayer == username && gamePhase == 'DICE'">
                <div>
                    Бросайте кубик
                </div>
                <button v-on:click="diceRoll(1)" type="button" class="btn btn-default"> Бросить один кубик </button>
                <button v-if="twoDices" v-on:click="diceRoll(2)" type="button" class="btn btn-default"> Бросить два кубика </button>

            </div>
            <div v-if="activePlayer != username && gamePhase == 'DICE'">
                <div>
                    {{ activePlayer }} бросает кубик
                </div>
            </div>
            <div v-if="activePlayer == username && gamePhase == 'BUILD'">

                <card-shop :player-state="playerState" :last-dice="lastDice" :cards="cards"
                           :opponents="opponents" :game-id="currentGame.id"></card-shop>

<!--                <div>-->
<!--                    У вас выпало {{ lastDice }}. Доступно денег {{ playerState.money }}. Купите карту-->
<!--                </div>-->
<!--                <div class="shop-group">-->
<!--                    <template v-for="group in shopGroups">-->
<!--                        <div v-for="card in cardsByColor(group.color)"-->
<!--                             :class="['shop-card', card.canBuy ? 'active-card' : '']"-->
<!--                             :style="[card.canBuy ? group.activeStyle : group.disabledStyle]"-->
<!--                             v-on:click="buyCard(card.name)"-->
<!--                        >-->
<!--                            <div class="card-numbers">-->
<!--                                {{ card.numbers }}-->
<!--                            </div>-->
<!--                            <div class="card-price">-->
<!--                                <div class="price-circle">-->
<!--                                    {{ card.price }}-->
<!--                                </div>-->

<!--                            </div>-->
<!--                            <div class="card-name">-->
<!--                                {{ card.name }} <span v-if="group.color != 'YELLOW' && group.color != 'PURPLE'"> ({{ card.cardsLeft }}) </span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </template>-->
<!--                </div>-->
<!--                <button v-on:click="skipBuild()" type="button"> Пропуск </button>-->
            </div>
            <div v-if="activePlayer != username && gamePhase == 'BUILD'">
                <div>
                    Выпало {{ lastDice }}
                </div>
                <div>
                    {{ activePlayer }} выбирает карту
                </div>

            </div>
        </div>
        <div class="opponents-panel">
<!--            <div v-on:click="showPlayerInfo(username)" >-->
<!--                <b>{{ playerState.name }} (Вы)</b> money: {{ playerState.money }}-->
<!--                <div style="display:flex;justify-content:space-evenly;">-->
<!--                    <div v-for="card in yellowCards(playerState.name)" :style="[card.style, {padding: '2px'}]">-->
<!--                        {{ card.price }}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div v-on:click="playerInfoModal = username">
                <b>{{ username }}</b> Деньги: {{ playerState.money }}
                <div style="display:flex;gap:2px;flex-wrap:wrap;">
                    <div v-for="card in boughtCards(username)" :style="[card.style, {padding: '2px'}]">
                        <span>{{ card.numbersStr }}</span>
                        <span v-if="card.count > 1"> x{{ card.count }}</span>
                        <span v-if="card.disabled > 0"> (-{{card.disabled}}) </span>
                    </div>
                </div>
                <div style="display:flex;justify-content:space-evenly;">
                    <div v-for="card in yellowCards(username)" :style="[card.style, {padding: '2px'}]">
                        {{ card.price }}
                    </div>
                </div>
            </div>
            <div v-on:click="playerInfoModal = opponent.name" v-for="opponent in opponents" :key="opponent.name" >
                <b>{{ opponent.name }}</b> Деньги: {{ opponent.money }}
                <div style="display:flex;gap:2px;flex-wrap:wrap;">
                    <div v-for="card in boughtCards(opponent.name)" :style="[card.style, {padding: '2px'}]">
                        <span>{{ card.numbersStr }}</span>
                        <span v-if="card.count > 1"> x{{ card.count }}</span>
                        <span v-if="card.disabled > 0"> (-{{card.disabled}}) </span>
                    </div>
                </div>
                <div style="display:flex;justify-content:space-evenly;">
                    <div v-for="card in yellowCards(opponent.name)" :style="[card.style, {padding: '2px'}]">
                        {{ card.price }}
                    </div>
                </div>
            </div>
        </div>

<!--        <div>-->
<!--            Деньги: {{ playerState.money }}-->
<!--        </div>-->

<!--        <div class="bought-cards-wrapper">-->
<!--            <div class="bought-cards">-->
<!--                <div v-for="card in boughtCards(username)" :key="card.name" class="bought-card" :style="[card.style]">-->
<!--                    {{ card.name }}-->
<!--                    <span v-if="card.count > 1">(x{{ card.count }})</span>-->
<!--                    <span v-if="card.disabled > 0"> (-{{card.disabled}}) </span>-->
<!--                    {{ calculateLastChange(card.name) }}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div style="display:flex;justify-content:space-around;">-->
<!--                <div v-for="card in yellowCards(username)" class="bought-card" :style="[card.style]" >-->
<!--                    {{ card.name }}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="modal-window" v-if="playerInfoModal">
        <div class="modal-content">
            <span v-on:click="playerInfoModal = false" class="close-button">&times;</span>
            <p> Карты игрока: {{ playerInfoModal }}</p>
            <table >
                <tr v-for="card in boughtCards(playerInfoModal)" :key="card.name" :style="[card.style]">
                    <td>
                        {{ card.name }}
                        <span v-if="card.count > 1">(x{{ card.count }})</span>
                        <span v-if="card.disabled > 0"> (-{{card.disabled}}) </span>
                        {{ calculateLastChange(card.name) }} </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-window" :style="[historyModal ? { display: 'block' } : {display: 'none'}]">
        <div class="modal-content">
            <span v-on:click="historyModal = false" class="close-button">&times;</span>
            <p>История:</p>
            <table>
                <tr v-for="event in events.slice().reverse()">
                    <td> {{ event }} </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>

</html>