<div style="display:flex;flex-direction:column;height:100%;">
    <div>
        У вас выпало {{ lastDice }}. Доступно денег {{ playerState.money }}. Купите карту.
        <button v-on:click="skipBuild()" type="button" class="btn btn-default">Пропуск </button>
        <button v-if="playerState.fundAvailable" v-on:click="addToFund()" type="button" class="btn btn-default">Монетку в венчурный фонд </button>
    </div>
    <div class="shop-carousel" style="flex-grow:1;">
        <div v-for="group in shopGroups" class="shop-group">
            <div v-for="card in cardsByColor(group.color)"
                 :class="['shop-card', card.canBuy ? 'active-card' : '']"
                 :style="[card.canBuy ? group.activeStyle : group.disabledStyle]"
                 v-on:click="buyCard(card.name)"
            >
                <div class="card-numbers">
                    {{ card.numbers }}
                </div>
                <div class="card-count">
                    <span v-if="group.color != 'YELLOW' && group.color != 'PURPLE'"> x{{ card.cardsLeft }} </span>
                </div>
                <div class="card-price">
                    <div class="price-circle">
                        {{ card.price }}
                    </div>

                </div>
                <div class="card-name">
                    {{ card.name }}
                </div>
                <div class="card-icon">
                    <span :style="{ backgroundImage: `url('../icons/${card.icon}.svg')`}"></span>
                </div>
            </div>
        </div>
    </div>

</div>
