<div>
    <div>
        У вас выпало {{ lastDice }}. Доступно денег {{ playerState.money }}. Купите карту {{ cardsLeftCount('Шахта') }}
    </div>
    <div class="shop-group">
        <template v-for="group in shopGroups">
            <div v-for="card in cardsByColor(group.color)"
                 :class="['shop-card', card.canBuy ? 'active-card' : '']"
                 :style="[card.canBuy ? group.activeStyle : group.disabledStyle]"
                 v-on:click="buyCard(card.name)"
            >
                <div class="card-numbers">
                    {{ card.numbers }}
                </div>
                <div class="card-price">
                    <div class="price-circle">
                        {{ card.price }}
                    </div>

                </div>
                <div class="card-name">
                    {{ card.name }} <span v-if="group.color != 'YELLOW' && group.color != 'PURPLE'"> ({{ card.cardsLeft }}) </span>
                </div>
            </div>
        </template>
    </div>
    <button v-on:click="skipBuild()" type="button" class="btn btn-default">Пропуск </button>
</div>
